
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mvc Camp Categories Table</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Category Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>Explain</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sport</td>
        <td>
            Statement was made
        </td>
        <td>True</td>
    </tr>
</table>